# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx>=4.3.1
sphinx_rtd_theme>=1.0.0
readthedocs-sphinx-search>=0.1.1
ads>=0.12.3
numpy>=1.20.0
h5py>=3.2.0
